@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

@keyframes slideOutToTop {
  0% {
    opacity: 1;
    transform: translateY(0);
    display: block;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    display: none;
  }
}

@keyframes rotateUpsideDown {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);  
  }
}

@keyframes rotateUp {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);  
  }
}

.dropbtn {
  background-color: #FF6060;
  color: white;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.dropIcon {
  background: none;
  cursor: pointer;
  border: none;
  margin-bottom: -3px;
  margin-right: -10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: relative;
  background-color: #F6F6F6;
  min-width: 160px;
  width: 100%;
  z-index: -1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
  margin-top: -2px;
}

.dropdownContent ul { 
  padding: 0; 
  margin: 0;
}

.dropdownContent li {
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
  display: block;
  font-family: 'Montserrat', sans-serif;
}

.open { 
  display: block; 
  animation: slideInFromTop 0.4s ease-in-out forwards;
} 

.close {
  animation: slideOutToTop 0.4s ease-in-out forwards!important;
}

.rotateBegin {
  animation: rotateUpsideDown 0.3s ease-in-out forwards;
}

.rotateEnd {
  animation: rotateUp 0.3s ease-in-out forwards;
}

@media (max-width: 800px) {
  .dropbtn {
    font-size: 13px;
    height: 30px;
  }

  .dropIcon img {
    width: 25px;
    height: 25px;
  }

  .dropdownContent {
    padding: 15px;
  }

  .dropdownContent li {
    font-size: 12px;
  }
}