* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root > *:not(footer):not(.footer) {
  margin: 0 5rem;
}


.kasaLogo {
  color: #FF6060;
}

.notFound-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  min-height: 618px;
  margin: 5rem 0;
}

.notFound-title, .notFound-description {
  color: #FF6060;
}

.notFound-title {
  font-size: 200px;
  margin: 0;
}

.notFound-description {
  font-size: 36px;
  margin: 0;
}

.notFound-link {
  color: black;
  font-size: 16px;
  margin: 0;
}

.a-proposSection {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 30px;
  margin: 0 auto!important;
}

.property {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.property .title {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
  margin: 0;
}

.property .location {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 25px;
}

.property .tagList {
  display: flex;
  gap: 1rem;
  padding: 0;
  flex-wrap: wrap;
}

.property .tag {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #FF6060;
  padding: .3rem 1.7rem;
  border-radius: 15px;
  width: fit-content;
}

.hostAndRating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.property .host {
  display: flex;
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  gap: 1rem;
  max-width: 180px;
  text-align: right;
  align-items: flex-start;
  height: fit-content;
}

.host p {
  margin: 0;
  align-self: center;
  line-height: 1.4;
}

.property .host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.ratingList {
  list-style-type: none;
  display: flex;
}

.dropdowns {
  display: flex;
  justify-content: space-between;
}

.dropdowns > * {
  width: 45%;
  border-radius: 10px;
  overflow: hidden;
  line-height: 1.4;
}

@media (max-width: 800px) {
  html, body, #root {
    height: 100vh;
  }

  body > *:not(footer):not(.footer) {
    margin: 20px;
  }

  #root {
    gap: 22px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  #root > *:not(footer):not(.footer) {
    margin-left: 20px;
    margin-right: 20px;;
  }

  .notFound-section {
    min-height: 0;
    height: fit-content;
    margin: 5rem 3rem;
  }

  .notFound-title {
    font-size: 100px;
  }

  .notFound-description {
    font-size: 18px;
    text-align: center;
  }

  .notFound-link {
    font-size: 14px;
  }

  .a-proposSection {
    width: auto!important;
    margin-left: 20px!important;
    margin-right: 20px!important;
    gap: 20px;
    flex: 1;
  }
}


